<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586160613954-4o3qjas0jtsnluf5u2fdfh3v4ukcu888.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586160613954-4o3qjas0jtsnluf5u2fdfh3v4ukcu888</string>
	<key>API_KEY</key>
	<string>AIzaSyDi2dJ5uc4HUeSLVqlJ58flCssAkZReE_8</string>
	<key>GCM_SENDER_ID</key>
	<string>586160613954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiosilence.Swatch.SwiftfulFirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasebootcamp-4a246</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasebootcamp-4a246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586160613954:ios:c58f7e7e0ac452c397dbdb</string>
</dict>
</plist>